.l-card
  position relative
  display block
  letter-spacing 0
  font-size 14px

  .l-c-heading
    border-radius 3px
    padding 10px 5px
    color #ffffff
    background-color #537e92
    cursor default
    vertical-align middle
    z-index 2
    box-shadow -1px 6px 6px -6px rgba(0, 0, 0, 0.35)
