.l-card
  position relative
  display block

  .l-c-heading
    border-radius 3px
    padding 10px 5px
    color #ffffff
    background-color $secondary_color
    cursor default
    vertical-align middle
    z-index 2
    box-shadow -1px 6px 6px -6px rgba(0, 0, 0, 0.35)

  .c-g-i-heading
    background-color $secondary_color
    color #ffffff
    box-shadow -1px 6px 6px -6px rgba(0, 0, 0, 0.35)
    padding 5px

  .c-group-item
    margin 15px 0 15px 15px

  .c-resource-item
    border: 1px solid $secondary_color
    margin-left 5px;
    margin-right 5px;
    margin-top 5px;

  .c-r-i-heading
    background-color $secondary_color
    color #ffffff
    box-shadow -1px 6px 6px -6px rgba(0, 0, 0, 0.35)
    padding 5px
