#app-node
  height: 100%

.l-layout
  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: center
  min-height: 100%

.l-wrapper
  flex: 1 0 auto

.l-container,
.l-content
  position: relative
  margin: 0 auto
  width: $site_width

.l-content
  padding-top: 20px

.l-right-section
  padding-left: 30px

.l-selectable
  selectable()

.l-not-selectable
  not-selectable()