$bp_small = 480px
$bp_med = 768px
$bp_large =  1280px

$mobile = 'screen and (max-width: ' + $bp_small + ')'
$tablet = 'screen and (min-width: ' + $bp_med + ')'
$desktop = 'screen and (min-width: ' + $bp_large + ')'

$site_width = 768px

$main_font_family = 'Roboto', sans-serif

$base_link_color = #2ea4ff
$base_border_color = #c2dce8
$base_icon_color = #5f95ae

$main_color = #c2dce8
$secondary_color = #3a5866
$muted_color = #82aabd
$important_color = #cc0000
