<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        <title>Depmon</title>
    }
    else
    {
        <title>Depmon / @ViewBag.Title</title>
    }

   
</head>
<body>
    @RenderBody()
    @RenderSection("bundles", false)
</body>
</html>