<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="monitoring" type="Depmon.Server.Collector.Configuration.MonitoringSection, Depmon.Server.Collector"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="depmon" connectionString="Data Source=..\..\..\Database\depmon.sqlite" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <monitoring>
    <iteration delay="00:00:05" />
    <mailboxes>
      <add name="hm@ecm.local" server="sts.ecm.local" port="110" ssl="false" username="hm@ecm.local" password="1" timeout="1000" capacity="10" delay="00:00:10" />
    </mailboxes>
  </monitoring>
</configuration>