<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="settings" type="Depmon.Server.Collector.Configuration.Settings, Depmon.Server.Collector"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="depmon" connectionString="Data Source=..\..\..\Database\depmon.sqlite" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <settings>
    <iteration delay="00:00:05"/>
    <mailboxes>
      <add name="status@dtech.kz" server="outlook.office365.com" port="995" ssl="true" username="status@dtech.kz" password="P@$sw0rdPieceWAR" timeout="1000" capacity="10" delay="00:10:00" />
    </mailboxes>
    <notifications>
      <sender name="status@dtech.kz" server="smtp.office365.com" port="587" username="status@dtech.kz" password="P@$sw0rdPieceWAR" />
      <everyDay time="08:00" oldReportThreshold="6" />
      <recievers>
        <add name="test@test.com" sources="DF-KTZHCloud" />
      </recievers>
    </notifications>
  </settings>
</configuration>
