@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "";
}

<div id="container">
    
</div>

@section foot
{
    @Scripts.Render("~/bundles/mainscripts")
}

@section head
{
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/headscripts")
}
