.c-header
  $header_height = 45px

  height $header_height
  border-bottom 1px solid $base_border_color
  display table
  letter-spacing 1px
  padding 0 5%
  color $base_link_color
  width 100%

  nav, div
    display table-cell
    height 100%
    vertical-align middle
    text-transform uppercase

  nav
    text-align right

    a
      color $base_link_color
      padding-right 1em
      text-decoration none
      text-transform uppercase

      &.active
        color: #3eb4eb
        font-weight 700
