.c-indicator-item

  .c-i-i-value-list
    padding-left 5px

  .c-i-i-value
    display inline-block
    margin 4px 5px
    padding 2px
    text-align center

  .level-normal
    border 2px solid #70b870
    background-color #CCFFCC

  .level-warning
    border 2px solid #db6e00
    background-color #FF9933

  .level-error, .level-critical
    border 2px solid #b30000
    background-color #FF0000
