.c-notification
  text-align center
  margin 15px 0
  border 1px solid #70b870
  padding 5px 0
  color #555
  background-color #cfc
  text-transform: uppercase

  a
    text-decoration none
    color #537e92
