.c-tree
  h5
    color $main_color
    text-transform uppercase

  ul
    margin-left 15px

    li
      list-style none

  .togglable
    cursor pointer
    color $secondary_color
    font-weight 700

  .togglable-down::after,
  .togglable-up::after
    margin-left 0.5em

  .togglable-down::after
    content "▼"
    display inline-block

  .togglable-up::after
    content "▶"
    display inline-block



